/* ===========================
   Base
   =========================== */



html, body {
  font-family: $font1;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $text;
  background: $header;
}

#preloading {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 100;
  position: fixed;
}
#preloaded {
  display: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* TYPE */

h2 {

}

h3 {

}

h4 {

}
h6 {

}
p {

}
/* BREAKPOINTS */

$tablet-layout: 768px;
$desktop-layout: 1025px;

// de 0 a 767

@media screen and (min-width: $tablet-layout) {
// de 768 a 1023
}

@media screen and (min-width: $desktop-layout) {
// de 1024 

}


/* EXTENDS */

.compa_container {
	position: absolute;
	z-index: 1;
	width: 100%;
  display: table;
  height: 100%;
  .in_section {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}
