

.about {
	p {
		color: $green;
	}
	svg {
		overflow: visible;
		max-width: 90%;
		width: 320px;
        .a {
            fill: #80E6B6;
        }
        .b {
            fill: #00CE6F;
        }
        .c {
            fill: #929497;
        }
        .d {
            fill: white;
        }
        .f {
            clip-path: url(#SVGID_2_);
        }
        .g {
             fill: #929497;
        }
        line {
        	display: none;
        }
	}
}


.how_big {
	background-color: $bcont;
	p {
		color: $blue;
	}
	.how_big_elements {
		position: relative;
    	margin: 40px 0;
		svg {
			width: 100%;
		    max-width: inherit;
		    left: 0;
			.a {
				fill: #1383C6;
			}
			.b {
				fill: #FFF;
			}
		}
		.bud_img {
			width: 16%;
		    margin: 0 auto;
		    position: absolute;
		    left: 0;
    		right: 0;
		}
	}
	.how_big_names {
		p {
			display: none;
		}
	}
}


.compa {
	position: relative;
	height: 700px;
	.back_pic {
		height: 50%;
	    background-position: center;
	    background-repeat: no-repeat;
	    min-width: 100%;
	    min-height: 50%;
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.old {
		top: 0;
	}
	.new {
		bottom: 0;
	}
	.compa_container {
		@extend .compa_container;
	}
}


.twitter {
	height: 100vh;
	width: 100%;
	position: relative;
	.compa_container {
		@extend .compa_container;
	}
	.twitter_back {
		width: 100%;
		height: 100%;
		background-color: rgba(30,30,30,0.5);
		position: absolute;
	}
}


.icon {
	margin-top: 40px;
	p {
		color: $blue;
	}
	.clogos {

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				width: 40%;
				float: left;
				margin: 40px 5% ;
				.icon_wrapper {
					height: 40px;
					img {
						display: inline-block;
						vertical-align: middle;
						max-height: 100%;
					}
				}
				h6 {
					font-weight: 300;
					margin: 5px auto 0;
				}

			}
		}
	}
}



@media screen and (min-width: $tablet-layout) {

	.in_section {
		img {
			max-width: 50%;
		}
	}

	.compa {
		.compa_container {
			h4 {
				max-width: 30%;
				margin-left: 3%;
			}
		}
	}	

	.about {
		svg {
			width: 512px;
			max-width: inherit;
		}
	}

	.how_big {
		.how_big_names {
			p {
				display: block;
				color: $text;
				font-size: 0.6em;
				float: left;
				margin: 0;
				&:first-child {
					width: 25%;
				}
				&:nth-child(2) {
					width: 15%;
				}
				&:nth-child(3) {
					width: 20%;
				}
				&:nth-child(4) {
					width: 25%;
				}
				&:last-child {
					width: 13%;
				}
			}
		}
	}


	.icon {
		.clogos {
			ul {
				li {
					width: 33.3%;
					margin: 40px 0;
					.icon_wrapper {
						height: 70px;
						&:before {
							content: '';
							display: inline-block;
							height: 100%;
							vertical-align: middle;
							margin-right: -0.25em;
						}
					}
				}
			}
		}
	}

}


@media screen and (min-width: $desktop-layout) {



	.about {
		svg {
			line {
				display: block;
			}
			.about_line_under {
				fill: none;
				stroke-width: 0.1;
				stroke: #A6A6A6;
			}		
			.about_line_b {
				fill: none;
				stroke-width: 0.2;
				stroke: #000000;
				stroke-dasharray: 1px;
				stroke-dashoffset: 1.4;
			}		
			.about_line_g {
				fill: none;
				stroke-width: 0.5;
				stroke: $bcont;
				stroke-dasharray: 1px;
				stroke-dashoffset: 1;
			}
		}
	}


	.about_line_under {
		stroke-dasharray: 61;
		stroke-dashoffset: 61;
		opacity: 1;
	}



	.about_line_under.in_view {
		animation: map_ani 5s forwards;
	}

	@keyframes map_ani {
	  from {
	    stroke-dashoffset: 61;
	  }
	  to {
	    stroke-dashoffset: 0;
	  }
	}

	.compa {
		height: 100vh;
		.back_pic {
			position: absolute;
			height: 50%;
			width: 100%;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		.old {
			top: 0;
		}
		.new {
			bottom: 0;
		}
		.compa_container {
		}
	}

	.how_big {
		p {
			height: 30px;
		}

		h2 {
			margin-top: 30px;
		}
		.how_big_names {
			p {
				font-size: 0.7em;
			}
		}
	}


}






